*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

ol,
ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  vertical-align: top;
}

.virt-area {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #333;
  color: #fff;
}

.virt-area__monitor {
  width: 600px;
  height: 300px;
  outline: none;
}

.virt-area__keyboard {
  display: flex;
  flex-wrap: wrap;
}

.keyboard__key {
  position: relative;
  padding: 30px;
  background-color: rgb(99, 54, 99);
  cursor: pointer;
  transition: background-color 0.1s ease-in-out;
}

.keyboard__key_active_phys,
.keyboard__key_active_virt {
  background-color: rgb(83, 45, 83);
}

.keyboard__symbol_secondary {
  position: absolute;
  top: 25%;
  left: 25%;
}

.keyboard__symbol_primary {
  display: block;
  padding-top: 5px;
}